<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateLocationServet</servlet-name>
        <servlet-class>com.test.servlets.CreateLocationServet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>com.test.servlets.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.test.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.test.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutUser</servlet-name>
        <servlet-class>com.test.servlets.AjoutUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.test.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.test.servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutLocation</servlet-name>
        <servlet-class>com.test.servlets.AjoutLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLocationServlet</servlet-name>
        <servlet-class>com.test.servlets.EditLocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserverServlet</servlet-name>
        <servlet-class>com.test.servlets.ReserverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbortReservation</servlet-name>
        <servlet-class>com.test.servlets.AbortReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLogement</servlet-name>
        <servlet-class>com.test.servlets.DeleteLogement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateLocationServet</servlet-name>
        <url-pattern>/CreateLocationServet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutUser</servlet-name>
        <url-pattern>/AjoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutLocation</servlet-name>
        <url-pattern>/AjoutLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLocationServlet</servlet-name>
        <url-pattern>/EditLocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserverServlet</servlet-name>
        <url-pattern>/ReserverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbortReservation</servlet-name>
        <url-pattern>/AbortReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLogement</servlet-name>
        <url-pattern>/DeleteLogement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
